
<app-header> </app-header>
<br>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div>
      <h1 style="text-align: center; ">You only have to know one thing!</h1>
      <h3 style="text-align: center; ">With us you can learn anything!</h3>
      <br>
      <br>
      <div> <img src="assets/images/elearning.jpg" width="100%"> </div>
      <br>
      <br>
      <br>
      <h2 class="home-title">About us
      </h2>
      <p style="margin-left: 12%; font-size: medium;">ULearn is a collection of online courses.
        On our site you’ll be able to find specific courses in many subjects. <br>
        We collect playlists and videos to help you learn from many different services.<br>
        ULearn is a smart search tool and a good place to start your journey.
        Choose an Ebook or Video to get started!
      </p>
      <br>
      <br>
    </div>

    <div class="row">
      <div class="column">
        <h3 style="text-align: center;">Videos</h3>
        <img src="assets/images/VideoTutorial.gif" alt="Video tutorial" style="width:100%">
      </div>
      <div class="column">
        <h3 style="text-align: center;">E-books</h3>
        <img src="assets/images/Bookmarks.gif" alt="E-books" style="width:100%">
      </div>
    </div>
  </div>
</div>
  <hr>
  
  <app-footer></app-footer>
 
  