<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" id="username" name="username" formControlName="username">
          <div *ngIf="submitted && formControl.username.errors" class="text-danger">
            <div *ngIf="formControl.username.errors.username">Username must be valid.</div>
            <div *ngIf="formControl.username.errors.required">Username is required.</div>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput  id="password" name="password" formControlName="password" placeholder="Password">
          <div *ngIf="submitted && formControl.password.errors" class="text-danger">
            <div *ngIf="formControl.password.errors.required">Password is required.</div>
          </div>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
      <!-- TODO  Link onhover να αλλαζει ο κερσορας ή να είναι button πιο μικρο -->
      <button mat-stroked-button color="accent" class="btn-block" (click)="redirect()">Register</button>
    </form>
    <div *ngIf="loginFailed">Bad Credentials</div>
  </mat-card>

</div>
