<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo">
        <h2><span class="fa fa-android"></span></h2>
      </span>
      <h1 class="company_title">uLearn<img src="assets/images/lala.png"></h1>
    </div>

    <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="row">
          <h2>Log In</h2>
        </div>
        <div class="row">
          <div *ngIf="loginFailed" class="text-danger">The username or password is invalid. Authentication failed</div>
        </div>
        <div class="row">

          <form control="" class="form-group" [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <!-- Username -->
            <div class="row">
              <input type="text" name="username" id="username" class="form__input" placeholder="Username"
                formControlName="username">
              <div *ngIf="submitted && formControl.username.errors" class="text-danger">
                <div *ngIf="formControl.username.errors.username">Username must be valid.</div>
                <div *ngIf="formControl.username.errors.required">Username is required.</div>
                <div *ngIf="formControl.username.value==null"></div>
              </div>
            </div>

            <!-- Password -->
            <div class="row">
              <span class="fa fa-lock"></span>
              <input type="password" name="password" id="password" class="form__input" placeholder="Password"
                formControlName="password">
              <div *ngIf="submitted && formControl.password.errors" class="text-danger">
                <div *ngIf="formControl.password.errors.required">Password is required.</div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
              <input type="submit" value="Submit" class="btn">
            </div>
          </form>
        </div>
        <div class="row">
          <p>Don't have an account? <button class="btnSec" (click)="redirect()">Register</button></p>

        </div>
      </div>
    </div>
  </div>
</div>
