.navbar-brand{
    padding-top: 0;
    padding-left: 50%;
    
}

.nav-link{
    color:black;
    font-size: 18px;
    padding-bottom: 0;
    text-shadow: 2px 2px white;
 
}



#logout{
    padding-bottom: 0%;
    color:red;
}

h2{
    color:white;
    margin-top: 0;
    margin-bottom: 12px;
    text-shadow: 2px 2px grey;
}