.navbar-brand{
    padding-top: 0;
    padding-left: 50%;
    
}

.nav-link{
    color:black;
    font-size: medium;
    padding-bottom: 0;
 
}

#profile{
    padding-top: 0;
}

#logout{
    padding-top: 0%;
}

h2{
    color:white;
    margin-top: 0;
    margin-bottom: 12px;
    text-shadow: 2px 2px grey;
}